@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primary: #8a2be2;
    --color-secondary: #4a1e9e;
    --color-orange: #e2762b;
    --color-brown: #9e521e;
    --color-green: #94e22b;
    --color-dark: #111110;
    --color-light: #ebf1f4;
    --color-post: #fff;
}

.dark {
    --color-post: #1e1e1e;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #fff;
}

@media (max-width: 1200px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 12px;
    }
}

@media (max-width: 576px) {
    html {
        font-size: 10px;
    }
}

.container {
    max-width: 1275px;
    margin: 0 auto;
    padding: 0 0.9rem;
}

a {
    font-weight: 600;
    transition: color 0.3s;
}

a:hover {
    color: var(--color-orange);
}
